<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name%><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <% if current_user.admin > 0 && !@user.admin.equal?(2)%>
    <div class="field">
      <%= f.label :admin %><br>
      <%= f.number_field :admin %>
    </div>
    <%if current_user.admin > 1%>
      <div class="field">
        <%= f.label :organization_id %><br>
        <%= f.select :organization_id, @organizations_for_select %>
      </div>
    <%end%>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
