<h1><%=@user.name%>'s Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Account Id</th>
      <th>Account Name</th>
      <th>Account Type</th>
      <th>Amount</th>
    </tr>
  </thead>

  <% @user_accounts.each do |acct|%>
    <tr>
      <td><%=acct.id%></td>
      <td><%=acct.name%></td>
      <td><%=acct.account_type%></td>
      <td>$<%=acct.amount%></td>
    </tr>
  <%end%>
</table>

<%= link_to 'Transfer', transfer_accounts_path %>
<%= link_to 'Deposit Money', deposit_accounts_path %>
<%= link_to 'Spend Money', expenditure_accounts_path %>
