<h1>Editing User</h1>

<%= render 'edit_form' %>

<% if current_user.admin > 0 %>
  <%= link_to 'Show', @user %>
  <% if current_user.admin > 1 %>
    | <%= link_to 'Users', users_path %>
  <% else %>
    | <%= link_to 'Organization', organization_url(current_user.organization)%>
  <%end%>
<% else %>
  | <%= link_to 'Cancel', @user %>
<%end%>
