<p id="notice"><%= notice %></p>

<h1><%= @organization.name%></h1>

<p>
  <strong>External_Id:</strong>
  <%= @organization.external_id %>
</p>

<p>
  <strong>Number of Users:</strong>
  <%= User.where(organization_id: @organization.id).count %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %>
<% if current_user.admin > 1 %>
  | <%= link_to 'Back', organizations_path %>
<%end%>

<% unless @organization_users.empty? %>
  <%= render(:partial => "organization_users", :local => {:organization => @organization, organization_users: @organization_users}) %>
<% else %>
  <h2> <%=@organization.name %> does not have any Users </h2>
  <h2><%= link_to "Create a new user for #{@organization.name}", new_user_organization_url %></h2>
<%end%>

