<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @transaction.account.name %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type%>
</p>

<p>
  <strong>Account From:</strong>
  <%= Account.find(@transaction.acct_from).name %>
</p>

<p>
  <strong>Account To:</strong>
  <%= Account.find(@transaction.acct_to).name unless @transaction.acct_to.nil? %>
</p>

<p>
  <strong>Transaction Amount:</strong>
  $<%= '%.2f' % @transaction.transfer_amount%>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
