<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type%>
</p>

<p>
  <strong>Account From:</strong>
  <%= Account.find(@transaction.acct_from).name unless @transaction.acct_from.nil? %>
</p>

<p>
  <strong>Account To:</strong>
  <%= Account.find(@transaction.acct_to).name unless @transaction.acct_to.nil? %>
</p>

<p>
  <strong>Transaction Amount:</strong>
  $<%= '%.2f' % @transaction.transfer_amount%>
</p>

<br>
<%= link_to 'Back To Accounts', accounts_user_path(current_user)%>
