<h1>Spend Money</h1>
<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id, :readonly => true%>
  </div>

  <div class="field">
    <label>Transaction Type</label><br>
    <%= f.text_field :transaction_type, :value => 'Expenditure', :readonly => true%>
  </div>

  <div class="field">
    <label>Account From</label><br>
    <%= f.select :acct_from, @accounts_for_select, :required => true %>
  </div>

  <div class="field">
    <label>Amount to Spend</label><br>
    <%= f.number_field :transfer_amount, step: 0.01, :required => true %>
  </div>

  <div class="field">
    <label>Description</label><br>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

