<h1>New Account</h1>

<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, @users_for_select, required: true%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>
  <div class="field">
    <%= f.label :account_type %><br>
    <%= f.text_field :account_type, required: true %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, value: 20.00, readonly: true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', accounts_path %>
