
<p>
  <strong>User:</strong>
  <%= @account.user.first_name %> <%= @account.user.last_name%>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @account.account_type %>
</p>

<p>
  <strong>Amount:</strong>
  $<%= '%.2f' % @account.amount%>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
